.colorHeader {
  background-color: #2B6C4C;
}

.colorfooter {
  background-color: #2B6C4C;
}

.colorforms {
  background-color: #2B6C4C;
}

.colorcampostxt {
  background-color: #A4C3B2;
}

body {
  background-color: #2B8C60;
  font-family: "sans-serif";
  color: #020202;
}