.colorHeader {
  background-color: #2B6C4C;
}

nav {
  background-color: #2B6C4C;
}
nav ul {
  list-style: none;
  padding: 0;
}
nav ul li {
  display: inline-block;
  margin-right: 10px;
}
nav ul li a {
  text-decoration: none;
  color: #020202;
}

.footerestandar {
  background-color: #2B6C4C;
  color: #020202;
  padding: 10px;
}

.footeradmin {
  background-color: #348f61;
  color: #020202;
  padding: 10px;
}

.colorforms {
  background-color: #2B6C4C;
}

.colorcampostxt {
  background-color: #A4C3B2;
}

body {
  background-color: #2B8C60;
  font-family: "sans-serif";
  color: #020202;
}

.botonbase, .botonadm, .botonforms {
  padding: 12px;
  font-size: 14px;
}

.botonforms {
  background-color: #A4C3B2;
  color: #020202;
}

.botonadm {
  background-color: #A4C3B2;
  color: #020202;
}

.tablapar tr:nth-child(odd) {
  background-color: #2da46e;
}
.tablapar tr:nth-child(even) {
  background-color: #2f5b45;
}

.tablaimpar tr:nth-child(odd) {
  background-color: #2da46e;
}
.tablaimpar tr:nth-child(even) {
  background-color: #2f5b45;
}