$bgcolorbody:#2B8C60;
$textfont:"sans-serif";
$txtcoloroscuro:#020202;
$txtcolorclaro:#A4C3B2;
body{
background-color:$bgcolorbody;
font-family: $textfont;
color:$txtcoloroscuro;
}

img{
    width: 100%;
    height: auto;
  }
  .banner{
    align-items: center;
    justify-content: center;
  }
  .imgajustada{
    height: 200px;
    width: 200px;
  }