
@import "../scss/components/_margen.scss";
@import "../scss/components/_footer.scss";
$font-stack: sans-serif;
$primary-color:#333;
body{
    background-color: red;
    font: 100% $font-stack;
    color: $primary-color;
}  


@mixin large-text{
    font-family:Arial;
    font-size: 20px;
    font-weight:bold;
    color: black;

}

.titulos{
    @include large-text;
    padding:4px;
}
.golden{
    background-color: goldenrod;
    p{
        color:green;
    }
}

.inverse {
    background-color: blue;
    color: white; 
}

